﻿@model IEnumerable<SportsStore.Domain.Entities.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-right">ID</th>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-right">@item.ProductID</td>
            <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductID })</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID", item.ProductID)
                    <input type="submit"
                           class="btn btn-danger btn-xs"
                           value="Delete" />
                }
            </td>
        </tr>
        }

    </tbody>
</table>
<div class="text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-primary" })
</div>

