﻿@model SportsStore.Domain.Entities.Product

<div class="col-4 mb-2">
    <div class="card" style="width: 18rem;">
        @if (Model.ImageData != null)
        {
            <img class="card-img-top" src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <span class="badge bg-primary float-end">@Model.Price</span>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Category</h6>
            <p class="card-text">@Model.Description</p>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to Cart" />
            }
        </div>
    </div>
</div>