﻿@model IEnumerable<string>

@foreach (var link in Model)
{
    <li>
        @Html.RouteLink(link, new
   {
       controller = "Product",
       action = "List",
       category = link,
       page = 1
   }, new
   {
       @class = "dropdown-item "
             + (link == ViewBag.SelectedCategory ? "active" : "")
   })
    </li>
}