﻿@using SportsStore.Domain.Entities
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Product";
}

<h2 class="my-2">List Product</h2>
<p class="fs-6 text">List barang barang olahraga</p>
<div class="row">
    @foreach (var p in Model.Products)
    {
        @Html.Partial("ProductSummary", p)
    }
</div>
<div class="text-center col-12">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>