﻿@model SportsStore.Domain.Entities.Cart
<div class="navbar-text me-3">
    <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>
<div class="navbar-light float-end">
    @Html.ActionLink("Checkout", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-outline-light" })
</div>